/aula002/nbproject/private/
/aula002/build/
/aula004/aula004/nbproject/private/
/aula004/aula004/build/
/aula004/Jogo_Cartas_FelipeThiago/nbproject/private/
/aula005/nbproject/private/
/Jogo_Cartas_FelipeThiago/nbproject/private/
/exerOriObj/nbproject/private/
/aula005/build/
/aula005.2/nbproject/private/
/aula005.2/build/
/exerOriObj/build/
/exerOriObj/dist/
/Jogo_Cartas_FelipeThiago/bin/nbproject/private/
/EstruturaDeDados/build/